:root {
    --main-color: #863503;
    --title-color: #05520D;
    --input-color: #7D0202;
    --size-24: 24px;
    --size-28: 28px;
    --fw-bold: 600;

}

.active-nav {
    border-bottom: 1px solid #056B11;
}

.page-title {
    font-size: var(--size-28);
    color: var(--title-color);
    font-weight: var(--fw-bold);
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

nav {
    padding: 30px 0;
}

ul {
    display: flex;
    gap: 60px;
    align-items: center;
}

li:nth-child(4) {
    margin-left: 160px;
}

header a {
    font-family: 'Lucida Bright';
    text-decoration: none;
    text-transform: capitalize;
    color: var(--main-color);
    font-size: var(--size-24);
    font-weight: var(--fw-bold);
}

header form input {
    background-color: rgba(210, 158, 126, 0.1);
    border-radius: 7px;
    padding: 10px 11px;
}

header form {
    position: relative;
}

header form button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

header li {
    padding-bottom: 14px;
}

header li:not(:nth-child(4)):hover {
    border-bottom: 1px solid #056B11;
}
.logoplace{
width: 100%;
height: 826px;
background-color: rgba(134, 53, 3, 0.07);
}

.juniorheader{
display: flex;
justify-content: space-between;
}
.product{
height:402px;
width: 267px;
}
.logodescription h4{
 font-family: 'Lucida Bright';
font-size: 54px;
font-weight: 600;
width: 542px;
height: 137px;
color: rgba(134, 53, 3, 1);
line-height: 63px;
margin-left: 203px;
margin-top: 117px;
}
.logodescription p{
    font-family: 'Lucida Bright';
    font-size: 24px;
    font-weight: 400;
    color: rgba(134, 53, 3, 1);
    margin-left: 203px;
    margin-top: 43px;
    width: 557px;
}
.logodescription p:nth-child(3){
    margin-top: 192px;
}
.product-container{
display: flex;
justify-content: space-around;
}
.product-header h2{
    font-family: 'Lucida Bright';
border-bottom: 2px solid rgba(5, 107, 17, 1);
font-size: 32px;
font-weight: 600;
color: rgba(134, 53, 3, 1);
width: 274px;
line-height: 63px;
margin-bottom: 89px;
margin-top: 126px;
}
.product img:hover{
    transform: scale(1.1);
    transition: 1s;
    }
.product-buttom{
display: flex;
justify-content: space-between;
margin-top: 23px;
}
.product-buttom p:nth-child(1){
 font-family: 'Lucida Bright';
font-size: 20px;
color: rgba(5, 82, 13, 1);
font-weight: 600;
line-height: 17px;
}
.product-buttom p:nth-child(2){
    font-family: 'Lucida Bright';
    font-size: 15px;
    color: rgba(125, 2, 2, 1);
    font-weight: 600;
    line-height: 17px;
    }
.button{
    font-family: 'Lucida Bright';
    font-weight: 600;
    line-height: 22px;
font-size: 18px;
border: 2px solid  rgba(5, 82, 13, 1);
border-radius: 15px;
float: right;
margin-right: 125px;
margin-top: 56px;
width: 178px;
height: 42px;
margin-bottom: 165px;
cursor: pointer;
}
.button a{
text-decoration: none;
color: rgba(0, 0, 0, 1);
}
.footer{
    font-family: 'Lucida Bright';
background: rgba(183, 138, 109, 0.24);
width: 100%;
height: 257px;
display: flex;
justify-content: space-around;
}
.social-media{
    margin-top: 106px;
}
.social-media p{
    margin-top: 20px;
    font-size: 24px;
    color: rgba(64, 4, 4, 1); 
}
.social-mediaicon{
display: flex;
flex-direction: row;
justify-content: space-around;
width: 141px;
}
.locations{
   display: flex;
   flex-direction: column;
  align-items: start;   
}

footer p{
    font-size: 18px;
    color: rgba(134, 53, 3, 1);
    padding-top: 28px;
}
footer h4{
    font-size: 20px;
    color: rgba(5, 82, 13, 1);    
    margin-top: 36px;
    margin-bottom: 10px;
    font-weight: 600;
}